@media screen and (max-width: 640px) {
    .userlist-container {
        font-size: xx-small;
    }
    .order-list-container {
        margin-top: 5rem;
    }
    .view-details-button {
        width: 1rem;
    }
    .chart-container {
        display: none;
    }
    .dashboard-container {
        width: 30rem;
    } 
    .product-small-screen-size {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .small-screen-size {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .larger-screen-size {
        display: none;
    }
}